<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <div id="app">
        <div v-if="books.length">
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <td>书籍名称</td>
                        <td>出版日期</td>
                        <td>价格</td>
                        <td>购买数量</td>
                        <td>操作</td>
                    </tr>

                </thead>
                <tbody>
                    <tr v-for="(item,index) in books">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.date}}</td>
                        <!-- 价格格式化 -->
                        <!-- 方法1：直接硬干 -->
                        <!-- <td>{{'￥' + item.price.toFixed(2)}}</td> -->
                        <!-- 方法2:使用方法 -->
                        <!-- <td>{{getFinalPrice(item.price)}}</td> -->
                        <!-- 方法3：使用过滤器 -->
                        <td>{{item.price|showPrice}}</td>
                        <td>
                            <button @click="decrement(index)" :disabled="item.count <=1">-</button>
                            {{item.count}}
                            <button @click="increment(index)">+</button>
                        </td>
                        <td><button @click="removeHandle(index)">删除</button></td>

                    </tr>
                </tbody>
            </table>
            <h2>总价格:{{totalPrice|showPrice}}</h2>
        </div>
        <h2 v-else>购物车为空</h2>
    </div>
    <script src="../js/vue.js"></script>
    <script src="main.js"></script>

</body>

</html>